@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-700 font-body px-5 text-white;
  }
}

@layer component {
  .page-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    // @apply mx-auto;
  }

  .movie-list .swiper-slide {
    width: 310px !important;
    margin-right: 10px !important;
  }
}
